html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.page-placeholder {
  padding: 2rem;
}

.cdk-drag-preview {
  border-radius: 4px;
  box-shadow:
    0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31);
  transform: rotate(3deg);
  opacity: 0.95;
}

.cdk-drag-placeholder {
  opacity: 0.35;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
